/11.3 TinDog Project-20260506T010809Z-3-001 (1).zip
/2.1 HTML
/2.1 HTML.zip
/2026-05-07 09-10-46.mp4
/AkaranCase(FRMK)
/Akarin(frmwrk)
/Belajar
/Belajar 2
/Bootstrap.zip
/QUIZ
/QUIZ.zip
/Tugas Perancagan Web.png
/Tugas Perancagan Web1.png
/Tugas PErancangan Web 2.png
/Tugas1
/Tugas2
/Tugas3
/Tugas4
/Tugas4.zip
/Tugas_framwork_tailwiind_case.zip
/UTS WEB_design
/UTS WEB_design.zip
/Web Design Error Report.pdf
/Website Portofolio AI DUMMY